.App{
    border: 1px solid black;
    border-radius: 5px;
    height: 348px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}
.result{
    border: 1px solid black;
    border-radius: 5px;
    width: 290px;
    height: 70px;
    margin: auto;
    margin-top: 8px;
}
.input{
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    width: 290px;
    height: 250px;
    padding: 7px;
}